*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
}
section .welcome{
    position: absolute;
    top: 25%;
    text-align: center;
    line-height: 90px;
    letter-spacing: -2px;
    font-family: 'Quantico', sans-serif;
    font-size: 65px;
    font-weight: 700;}
section .welcome a{
    text-decoration: none;
}