body{
    width: 99%;
    padding: 0px;
    margin: auto;
    color: black;
    background-color: white;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family:"Days";
    src: url('about_jayce_font/Days.woff') format('woff');}
@font-face {
    font-family:"GnuolaneRg-Regular";
    src: url('./about_jayce_font/GnuolaneRg-Regular.woff') format('woff');}
.header{
    display: block;
    position: fixed;
    z-index: 1;
    width: 99%;
    height: fit-content;
    margin: 0;
    background-color: white;}
.header .logo_sns{
    display:inline-block;
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid gray;
    margin: 0px;}
.header .logo_sns #logo{
    float: left;
    font-size: 30px;
    font-family:'Days';
    color: black;
    text-decoration: none;}
.header .logo_sns .sns{
    float: right;}
.header .logo_sns .sns #symbol{
    width: 30px;
    padding: 2px;}
.header .nav_bar{
    display: block;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
    margin: 0px;
    text-align: center;
    list-style: none;
    white-space: nowrap;}
.header .nav_bar li a{
    display: inline-block;
    position: relative;
    padding: 2px 10px;
    margin: 0px 70px;
    font-family:'GnuolaneRg-Regular';
    font-size: 23px;
    color: black;
    text-decoration: none;}
.header .nav_bar li a.current{
    background-color: black; color: white;}
.header .nav_bar li a::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    bottom: 0px;
    transform: translateX(-50%);
    transition: all .3s ease-out;
    background: black;}
.header .nav_bar li a:hover::after{
    width: 95%;}
.section{
    display: inline-block;
    width: 100%;
    padding-top: 93px;
    align-items: center;}
.section .section_nav .nav_side{
    display: block;
    width: fit-content;
    margin: 0px;
    padding: 0px;}
.section .section_nav .nav_side li{
    display: inline-block;
    width: fit-content;
    padding-bottom: 80%;
    border-right: 1px solid black;}
.section .section_nav .nav_side li a{
    text-decoration: none;
    color: black;
    font-family:'GnuolaneRg-Regular';
    display: block;
    width: 230px;
    padding: 5px;
    margin: 30px 10px 30px 10px;
    font-size: 25px;
    position: relative;}
.section .section_nav .nav_side li a.current{
    background-color: black; color: white;}
.section .section_nav .nav_side li a::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 2%;
    transform: translateX(0%);
    width: 0;
    height: 2px;
    background: black;
    transition: all .3s ease-out;}
.section .section_nav .nav_side li a:hover::after{
    width:40%;}
.section .basement{
    display: block;
    width: 700px;
    height: 80%;
    padding: 0 100px;
    margin: auto;
    background:#F5F2F5;}
.section .basement .select_box{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    left: 20%;
    display: inline-flex;
    padding: 50px 0;}
.section .basement .select_box .text{
    line-height: 270px;}
.section .basement .select_box ul{
    list-style: none;
    width:fit-content;
    padding-left: 30px;
    margin: 0;
    text-align: center;}
.section .basement .select_box ul li a{
    color: lightgray;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;}
.section .basement .select_box ul li a:hover{
    color: #8CA7D4;}
.section .basement .graph{
    margin-bottom: 10px;
    height: 20px;
    background-color: #ccc ;
    border-radius: 20px ;}
.section .basement .graph span{
    display: block;
    height: 20px;
    border-radius: 20px;}
.section .basement .graph.stack1 span{background-color: #799bd3e8; animation: stack1 2s 1 ease-in}
.section .basement .graph.stack2 span{background-color: #799bd3e8; animation: stack2 2s 1 ease-in}
.section .basement .graph.stack3 span{background-color: #799bd3e8; animation: stack3 2s 1 ease-in}
.section .basement .graph.stack4 span{background-color: #799bd3e8; animation: stack4 2s 1 ease-in}
.section .basement .graph.stack5 span{background-color: #799bd3e8; animation: stack5 2s 1 ease-in}
.section .basement .graph.stack6 span{background-color: #799bd3e8; animation: stack6 2s 1 ease-in}
@keyframes stack1{
    0% {width: 0; opacity: 0;}
    100% {width: 50%;}}
@keyframes stack2{
    0% {width: 0; opacity: 0;}
    100% {width: 97%;}}
@keyframes stack3{
    0% {width: 0; opacity: 0;}
    100% {width: 83%;}}
@keyframes stack4{
    0% {width: 0; opacity: 0;}
    100% {width: 7%;}}
@keyframes stack5{
    0% {width: 0; opacity: 0;}
    100% {width: 37%;}}
@keyframes stack6{
    0% {width: 0; opacity: 0;}
    100% {width: 65%;}}